#container {
  display: flex;
}

#text-container img {
  width: 100%;
}

#text-container {
  position: relative;
  color: white;
  text-align: center;
}

#text-container h1 {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px black;
}

