#container {
  display: flex;
  margin-top: 2%;
}

#text-container img {
  width: 100%;
}

#text-container {
  position: relative;
  color: white;
  text-align: center;
}

#text-container h1 {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-shadow: 2px 2px 2px black;
}


label, input, textarea {
  margin-left: 60%;
  font-size: 20px;
  padding-bottom: 2%;
}





