#hero img {
  max-width: 100%;
}

#hero p, h1 {
  text-align: center;
}

.row {
  display: flex;
  text-align: center;
}

#card-container .row {
  max-width: 80%;
  margin-left: 10%;
}

#card-container .row .img-container {
  min-width: 33%;
  padding: 5px;
  position: relative;
  text-align: center;
  color: white;
}

#card-container .row .img-container a img {
  max-width: 100%;
  min-height: 100%;
}

#card-container .row .img-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
}