header img {
  max-width: 5%;
}

.topnav {
  background-color: darkgreen;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 0px;
  width: 12.5%;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: darkblue;
}

.topnav a.active {
  background-color: #b19000;
  color: white;
}

